<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackong.jobbooks">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/job_books_icon_512"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="Job Books"
            android:theme="@style/AppTheme_no_title" />
        <activity
            android:name=".ForgotPassword"
            android:label="Forgot Password"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegisterNewUser"
            android:label="Register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FirstTime"
            android:label="Profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Search"
            android:label="Search Jobs"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Chat"
            android:label="Message Box"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Profile"
            android:label="Profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditEducation"
            android:label="Education"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditLanguage"
            android:label="Language"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditAdditionalInfo"
            android:label="Additional Info"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditAboutMe"
            android:label="About Me"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:label="Job Books"
            android:theme="@style/AppTheme_no_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".CompanyProfile"
            android:label="Profile" />
        <activity
            android:name=".CompanyChat"
            android:label="Message Box" />
        <activity
            android:name=".CompanyPost"
            android:label="Job Post" />
        <activity
            android:name=".ChatWindow"
            android:label="Chat Room" />
        <activity
            android:name=".EditCompanyInfo"
            android:label="Company Info" />
        <activity
            android:name=".ViewJobCompany"
            android:label="Job Details" />
        <activity
            android:name=".AddPost"
            android:label="Add New Post" />
        <activity
            android:name=".ViewJob"
            android:label="Job Details" />
    </application>

</manifest>